<!-- Modal -->

<div class="modal-header">
     <h4 class="modal-title">Select a Study Area</h4>
</div>
<div class="modal-body">
        <div style="padding-top: 10px;">
            <div>
                <div>{{vm.displayMessage}}</div> 
            </div>                            
        </div>
</div>

<div class="modal-footer">
    <button ng-focus="true" ng-click="vm.OK()" class="btn-wim-success"><i class="fa fa-check"></i><span >&nbsp;&nbsp;OK</span></button>
    <button ng-click="vm.Cancel()" class="btn-wim-default"><i class="fa fa-close"></i><span>&nbsp;&nbsp;Cancel</span></button>
</div>